.myCart {
  position: relative;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.CartItems {
  width: 70%;
  padding: 20px;
}

.CartItem {
  padding: 10px;
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border: 2px solid transparent;
}
.CartItem:hover {
  background-color: rgb(252, 214, 167);
  border: 2px solid chocolate;
}

.CartItem img {
  width: 12.5rem;
}

.item-info {
  width: 12.5rem;
}

.edit-qty div {
  font-size: 1rem;
  width: 30px;
  text-align: center;
  background-color: chocolate;
  color: white;
  cursor: pointer;
}
.edit-qty div:nth-child(odd):hover {
  background-color: rgb(198, 83, 0);
}

.remove-from-cart {
  width: 60px;
}
.remove-from-cart button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.remove-from-cart i {
  font-size: 1.5rem;
  color: chocolate;
}
.remove-from-cart button :hover {
  color: rgb(198, 83, 0);
}

.clearCartBtn,
.AddToCartBtn {
  background-color: chocolate;
  color: white !important;
}

.clearCartBtn:hover {
  background-color: rgb(198, 83, 0);
}
.AddToCartBtn:hover {
  background-color: rgb(198, 83, 0);
}

.btn.clearCartBtn:disabled {
  opacity: 0.5 !important; /* Make the button more faded */
  cursor: not-allowed !important; /* Change the cursor to show it's disabled */
  background-color: chocolate !important; /* Optional: Makes background gray */
}

@media (max-width: 1160px) {
  .CartItems {
    width: 80%;
  }
}
@media (max-width: 990px) {
  .CartItems {
    width: 95%;
  }
}

.EmptyCart .redirectBtn {
  font-weight: 600;
  color: chocolate;
}
.EmptyCart .redirectBtn:hover {
  color: rgb(198, 83, 0);
  text-decoration: underline;
}

@media (max-width: 765px) {
  .item-info {
    width: 8rem;
  }
}
@media (max-width: 750px) {
  .CartItem img {
    width: 10rem;
  }
}
@media (max-width: 660px) {
  .CartItem img {
    width: 9rem;
  }
}

@media (max-width: 550px) {
  .CartItem {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .CartItem img {
    width: 100%;
  }

  .item-info p {
    margin: 0;
  }
  .sub-total {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .sub-total h6,
  .sub-total h5 {
    margin: 0 5px;
  }

  .quantity {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .quantity h6 {
    margin: 0;
  }
  .quantity > div {
    margin: 0 5px;
  }
}
