.Home {
  background-color: bisque;
}

.ShoeList {
  display: flex;
}

.FilterBox {
  width: 25%;
  padding: 2rem;
  border-right: 2px solid chocolate;
  background-color: rgb(255, 238, 217);
}

.close-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fa-xmark {
  padding: 5px 8px;
  color: chocolate;
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-xmark:hover {
  background-color: rgba(255, 106, 0, 0.294);
}

.filters {
  margin-bottom: 20px;
}
.filters h5 {
  color: rgb(198, 83, 0);
  cursor: pointer;
}

.filter-option {
  color: chocolate;
  margin: 5px 0;
  cursor: pointer;
}

.filter-option:hover {
  text-decoration: underline 1px solid rgb(198, 83, 0);
  background-color: rgba(255, 106, 0, 0.294);
}

.ShoeListMain {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
  background-color: bisque;
}

.ShoeCard {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 3rem 1rem;
  width: 350px;
  max-height: 440px;
  color: white;
  background-color: #1f1f1f;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.ShoeCard:hover {
  box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.5);
}

.ShoeCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 1.5rem;
  margin: 8px 0;
}

.card-price {
  font-size: 1.1rem;
  color: #b4b4b4;
  margin-bottom: 8px;
}
.card-content {
  font-size: 1rem;
  color: #b4b4b4;
  margin-bottom: 8px;
}

.ShoeInfo {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  background-color: bisque;
}

.product-img {
  width: 45%;
}
.product-img img {
  width: 100%;
}

.product-info {
  width: 45%;
}

.product-price {
  font-size: 1.2rem;
}

.no-products {
  margin: 15rem 0;
  font-size: 2rem;
  font-weight: 600;
}
